<!doctype html>
<html>
  <head>
    <title>Bucket List</title>
       <link rel="stylesheet" href="css/profile.css"> 
   <!-- <link rel="stylesheet" href="css/index.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet"  href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
  
      
 
    
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1>My Bucket List</h1>
 <span><i class="fa-duotone fa-solid fa-bucket"></i></span>

        <form action="/messages" method="POST">
          
          <input type="text" placeholder="name" name="name">
          <input type="text" placeholder="location" name="location">
          <input type="text" placeholder="budget" name="budget">
          <button class= "sbtn" type="submit">Add Item</button>
        </form>
      </div>
       <a href="/logout" id="btn" class="btn btn-default btn-sm">Sign Out</a>
      <div class="row">

        <!-- LOCAL INFORMATION -->
        
      </div>

      <div class="col-sm-6">
        <% for(var i=0; i<items.length; i++) {%>
          <div class="sub">
          <div class="well">
            <div class="wellcontent">
              <h3><i class="fa-solid fa-bucket"></i>
              </span><%= items[i].name %></h3>
              <p>
                <strong>Location</strong>:
                <span class="editable" data-id="<%= items[i]._id %>"
                  data-field="location"><%= items[i].location %></span>
                <i class="fa fa-edit edit-icon" data-id="<%= items[i]._id %>"
                  data-field="location" aria-hidden="true"></i><br>

                <strong>Budget</strong>:
                <span class="editable" data-id="<%= items[i]._id %>"
                  data-field="budget"><%= items[i].budget %></span>
                <i class="fa fa-edit edit-icon" data-id="<%= items[i]._id %>"
                  data-field="budget" aria-hidden="true"></i><br>

              </p>
            </div> 
            <div class="wellimg">
              <form action="/uploadPhoto" method="POST" enctype="multipart/form-data">
                <input type="file" required name="photo" id="file<%= i %>" class="inputfile" />
                <input hidden name="id" value="<%= items[i]._id %>"></input>
               <section>
                <label for="file<%= i %>" >Choose a file</label>
                <button type="submit">Upload</button></section>
              </form>
              </div>
            </div>
            <div class="pics">
          <span class="delete-icon" data-id="<%= items[i]._id %>">
            </i>
          </span>

           
              <!-- Display uploaded photo if it exists -->
            
              <% if (items[i].photo) { %>
              <img src="<%= items[i].photo %>"  alt="Uploaded photo"
                width="100px" height="auto" class="image">
              <% } %>
            </div>
          </div><% } %><i id="trash" class="fa fa-trash-o trash" aria-hidden="true"></i>
        </div>
      </div>
        

        <script src="main.js"></script>

      </div>
    </div>
  </body>
</html>
